
.App {
  font-family: Arial, sans-serif;
  padding: 2rem;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #a2c08f;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}
.progress-visual {
  text-align: center;
  margin-top: 30px;
}

.progress-visual img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}


th {
  background-color: #b7d7a8;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
